<div class="container">
  <div class="row">
  <div class="col-md-12">
    <img src="MadLibsLogo2.png" class="logo">
  </div>
</div>
<br>
<br>
  <div class ="row">
    <div class="col-md-4">

      <input type="text" placeholder="Name" ng-model="words.name">
      <input type="text" placeholder="Noun" ng-model="words.noun1">
      <input type="text" placeholder="Adjective" ng-model="words.adjective1">
      <input type="text" placeholder="Noun" ng-model="words.noun2">
      <input type="text" placeholder="Verb" ng-model="words.verb1">
      <input type="text" placeholder="Noun" ng-model="words.noun3">
      <input type="text" placeholder="Noun" ng-model="words.noun4">
      <input type="text" placeholder="Number" ng-model="words.number1">
      <input type="text" placeholder="Verb" ng-model="words.verb2">
      <input type="text" placeholder="Number" ng-model="words.number2">
      <input type="text" placeholder="Number" ng-model="words.number3">
      <input type="text" placeholder="Noun" ng-model="words.noun5">
      <input type="text" placeholder="Adjective" ng-model="words.adjective2">
    <input type="text" placeholder="Adjective" ng-model="words.adjective3">
<br>
    <button type="button" ng-click="submitWords(words)">Send</button>
    </div>
  </div>
</div>
