html {
  font-family: Georgia;
  text-align: center
}

.container {
  background-color: pink;
  font-family: Georgia;
}
.col-md-4 {
  padding: 15px;
  border: 2px solid black;
  width: 200px;
  text-align: center;
}
.col-md-6 {
  padding: 15px;
  text-align: center;
}
.col-md-12 {
  border: 2px solid black;
}

.logo1 {
  width: auto;
  height: 250px;
  border: 1px solid black;
}

input {
  display: block;
  text-align: center;
}
/*
.logo2 {
  width: 300px;
  height: 250px;
  transform: rotate(270deg);
  display: inline-block;
}*/
